<style>

  #card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .professionals-card {
        background: #FAFAFA;  /* Light grey color */
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 20px;
        padding: 20px;
        text-align: center;
        width: 300px;
        transition: transform 0.2s ease-in-out;
      }

      .professionals-card:hover {
        transform: scale(1.05);
      }

      .professionals-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }

      .professionals-card h2 {
        margin: 15px 0;
        font-size: 20px;
        color: #00695c;  /* Dark green color */
        font-weight: 400;
      }

  @media(min-width: 600px) {
      .card {
        width: calc(100% / 2 - 16px);
      }
    }

    @media(min-width: 900px) {
      .card {
        width: calc(100% / 3 - 16px);
      }
    }

    @media(min-width: 600px) {
      .card {
        width: calc(100% / 2 - 16px);
      }
    }

</style>